**/.vs
**/.vscode
**/obj
**/*.user
**/.gradle
**/.idea
**/[Ll]ogs
**/[Tt]emp

#server ignore...
.vs/
packages/
tmp/
**/Debug/
**/Release/
**/build/
build_bazel/
build_cmake_linux/
**/Docs/Doxygen/
**/bazel-*/
bazel-*
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.tmp
*.orig
